@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;700&display=swap');

.navbar {
    background: linear-gradient(180deg, #4E4E4E 0%, rgba(78, 78, 78, 0) 96.15%);
    height: 15vh;

    .container {
        .logo-brand {
            font-family: 'Courgette';
            font-size: 2.75em;
            img {
                height: 4.5rem;
            }
    
        }
        .navbar-collapse {
            font-family: 'Marvel', sans-serif;
            ul li a {
                font-size: 1.75em;
                font-weight: bold;

                &:hover {
                    text-shadow: 1px 1px 1px white;
                }
            }
        }
    }
}

.banner-image {
    background-image: url(../img/banner-img.jpg);
    background-size: cover;

    .search-sec {
        background: rgba(14, 14, 14, 0.6);
        form {
            .row {
                .input-wrapper {
                    position: relative;

                    input {
                        border-radius: 0.85rem;

                        &::-webkit-calendar-picker-indicator {
                            opacity: 0;
                        }
                    }
                    
                    input[type='date']{

                        &::-webkit-calendar-picker-indicator {
                            opacity: 0.35;
                        }
                    }
                    
                    i {
                        position: absolute;
                        display: block;
                        bottom: 0.6rem;
                        right: 1.65rem;
                        opacity: 0.35;
                        user-select: none;
                        cursor: pointer;
                    }
                }
                .button-wrapper {
                    button {
                        width: 100%;
                        background-color: #1E336D;
                        color: white;
                        border-radius: 0.85rem;
                        font-family: 'Marvel', sans-serif;
                        font-weight: bold;
                        
                        &:hover {
                            background-color: #0f3396;
                        }
                    }
                }
            }
        }
    }
}

.section-first {
    background-image: url(../img/playa.jfif);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 175px 50px rgba(0, 0, 0, 0.35);
    div {
        
        h2 {
            font-family: 'Atma', cursive;
            font-weight: bold;
            color: white;
            font-size: 2.25em;
        }
        p {
            font-family: 'Marvel', sans-serif;
            font-size: 1.45em;
            color: white;
        }
        .list-destinations {
            .card {
                border-radius: 1.25rem;
                img {
                    border-radius: 1.25rem 1.25rem 0 0;
                }
                .card-body {
                    span {
                        font-family: 'Marvel', sans-serif;
                        color: #6A6A6A;
                        transform: rotate(180deg);
                        writing-mode: vertical-rl;
                        border-left: 1px solid #6A6A6A;
                        padding-left: 0.75rem;
                    }
                    div {
                        margin: 0 0 0 0.75rem;
                        p {
                            color: #6A6A6A;
                            margin: 0;
                            text-align: start;
                            font-size: 1em;
                            
                            i {
                                font-family: 'Courgette';
                            }
                        }

                        p:nth-child(2) {
                            font-family: 'Courgette';
                            color: black;
                            font-size: 1.2em;
                        }
                        
                    }
                }
            }
        }
        .list-reasons {
            .reason {
                div {
                    background-color: #1E336D;
                    width: 15rem;
                    height: 15rem;
                    padding: 3.5rem;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    .rotate-45 {
                        transform: rotate(45deg);
                    }
                }
                p {
                    font-size: 2em;
                    line-height: 2rem;
                }
            }
        }
    }
    .reasons-div {
        box-shadow: 0px -50px 50px rgba(0, 0, 0, 0.75);
        background: rgba(0, 0, 0, 0.75);
    }
}

.service {
    border-radius: 1.25rem;
    img {
        border-radius: 1.25rem 1.25rem 0 0;
        width: 100%;
    }
    div {
        font-family: 'Marvel', sans-serif;
        line-height: 1.25rem;
        p {
            font-size: 2em;
            font-weight: bolder;
        }
        a {
            color: #1E336D;
            font-size: 1.5em;
        }
    }
}

footer {
    background: #4c4c4c;

    .foot-data {

        .f-info-site {
            a {
                font-family: 'Courgette';
                font-size: 3em;
                color: #fff;
                text-decoration: none;
                img {
                height: 4.5rem;
                }
            }
            p {
                font-family: 'Marvel', sans-serif;
                color: #fff;
                font-size: 1.1em;
            }
            div {
                a {
                    font-size: 2.25em;
                    letter-spacing: 1rem;
                }
            }
        }

        .f-menu {
            h4 {
                font-family: 'Marvel', sans-serif;
                color: #fff;
                font-weight: bolder;
            }
            ul {
                list-style: none;
                padding: 0;
                li a {
                    color: #fff;
                    font-style: italic;
                    font-weight: lighter;
                    text-decoration: none;
                    line-height: 1.85rem;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .f-contacto {
            h4 {
                font-family: 'Marvel', sans-serif;
                color: #fff;
                font-weight: bolder;
            }
            ul {
                list-style: none;
                padding: 0;
                li {
                    color: #fff;
                    font-style: italic;
                    font-weight: lighter;
                    text-decoration: none;
                    line-height: 2.25rem;
                }
            }
        }
        .f-pays {
            h4 {
                font-family: 'Marvel', sans-serif;
                color: #fff;
                font-weight: bolder;
                text-align: end;
            }
            div {
                i {
                    font-size: 2.25rem;
                    color: #fff;
                    font-style: italic;
                    font-weight: lighter;
                    text-decoration: none;
                    line-height: 2.25rem;
                }
            }
        }
    }
    .copyright {
        p {
            font-family: 'Marvel', sans-serif;
            font-size: 1em;
        }
    }
}

#modalLogin {
    .modal-content {
        background: #000000aa;
        font-family: 'Marvel', sans-serif;
        .modal-body {
            h3 {
                font-weight: bolder;
                font-size: 2.75em;
            }
            .form-logreg {
                .form-floating {
                    input {
                        background: none;
                        color: #fff;
                    }
                    select {
                        background: none;
                        color: #fff;
                        option {
                            color: black;
                        }
                    }
                    label {
                        color: #fff;
                    }
                }
            }
        }

    }
    
}